
.Deck {
    position: absolute;
    top: 0;
    width: 950px;
    height: 950px;
    right: -400px;
    z-index: 0;
}

.Record {
    font-family: 'Roboto Condensed', sans-serif;
    position: absolute;
    top: 0;
    width: 950px;
    height: 950px;
    right: 0;
    transform: translate3d(0, 0, 0);
}

.DiscTwo {
    right: 100px;
}

.title {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 280px;
    height: 120px;
    padding: 20px 100px;
    margin-left: -240px;
    text-align: center;
    background-color: #FFA500;
    color: #484848;
}

.label {
    position: absolute;
    width: 480px;
    height: 480px;
    top: 50%;
    left: 50%;
    margin-left: -240px;
    margin-top: -240px;
    clip-path: circle(200px at center);
    transition: opacity 2s ease-in;
}

.Record.playing {
    animation: spin 8.33s infinite linear;
}

@keyframes spin {
    from { transform:rotate(0deg); }
    to { transform:rotate(360deg); }
}

.Tonearm {
    position: absolute;
    top: 0px;
    left: -500px;
    width: 950px;
    height: 950px;
    z-index: 1;
    transform: scaleX(-1) scaleY(-1);
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.Tonearm > img {
    transform-origin: 372px 77px;
    transform:rotate(-54deg);
}

.Tonearm.playing > img {
    /* animation: swing 1080s infinite linear; */
}

@keyframes swing {
    0% { transform:rotate(-49deg); }
    99% { transform:rotate(-20deg); }
    100% { transform:rotate(-49deg); }
}