
.PlaylistTitle {
    font-family: 'Architects Daughter';
    font-size: 17px;
    padding: 15px;
    border: 1px solid #ddd;
    background-color: rgba(40,40,40,0.8);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.PlaylistTitle > span {
    flex: 4;
}

.PlaylistTitle > button {
    flex: 1;
    margin-left: 5px;
}

.Playlist {
    font-family: 'Architects Daughter';
    font-size: 17px;
    user-select: none;
    border: 1px solid #ddd;
    background-color: rgba(255,255,255,0.8);
    min-height: 30vh;
    max-height: 30vh;
    overflow-y: scroll;
    margin-bottom: 15px;
}

.track {
    cursor: pointer;
    color: #666;
    background-color: #eee;
    border-bottom: 1px dotted #B0B0FB;
    padding:  6px 13px 5px;
}

.track .fa {
    font-size: 14px;
    margin-right: 5px;
    color: #ccc;
}

.track .fa-trash {
    display: none;
}

.track:hover .fa-trash {
    display: inline;
    padding: 0 3px 0 0;
    color: #F00;
}

.track:hover .fa-music, .track:hover .fa-list {
    display: none;
}

.track:nth-of-type(1) {
    padding-top: 10px;
}

.track > span {
    float: right;
}

.track:hover {
    color: #3E3EAF;
}

.found {
    color: #7E7E7E;
}

.playing {
    color: #3EAF3E;
}

.NewTrack {
    padding: 15px;
    border: 1px solid #ddd;
    background-color: rgba(40,40,40,0.8);
}

.NewTrack input, .NewTrack button {
    margin-left: 15px;
    font-family: 'Audiowide';
}
