:root {
    --track-duration: 30s;
}

.PlaylistTitle {
    font-family: 'Muli';
    font-size: 14px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: rgba(40,40,40,0.8);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.PlaylistTitle > span {
    flex: 4;
}

.PlaylistTitle > button {
    flex: 1;
    margin-left: 5px;
}

.Playlist {
    font-family: 'Muli';
    font-size: 12px;
    user-select: none;
    border: 1px solid #ddd;
    background-color: rgba(255,255,255,0.8);
    min-height: 30vh;
    max-height: 30vh;
    overflow-y: scroll;
    margin-bottom: 15px;
}

.track {
    position: relative;
    cursor: pointer;
    color: #666;
    background-color: #eee;
    border-bottom: 1px dotted #B0B0FB;
    padding:  10px 10px;
}

.track .fa {
    font-size: 14px;
    margin-right: 8px;
    color: #ccc;
}

.track .fa-trash {
    display: none;
}

.track:hover .fa-trash {
    display: inline;
    padding: 0 0 0 0;
    color: #F00;
}

.track:hover .fa-music, .track:hover .fa-list {
    display: none;
}

.track > span {
    float: right;
}

.track:hover {
    color: #3E3EAF;
}

.found {
    color: #7E7E7E;
}

.playing {
    color: #3EAF3E;
}

.playing::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.1);
    animation-name: playtrack;
    animation-duration: var(--track-duration);
    animation-timing-function: linear;
    animation-delay: 0;
    animation-iteration-count: 1;
}

@keyframes playtrack {
    from { transform: translateX(-100%); }
    to { transform: translateX(0); }
}


.NewTrack {
    padding: 15px;
    border: 1px solid #ddd;
    background-color: rgba(40,40,40,0.8);
}

.NewTrack input, .NewTrack button {
    margin-left: 15px;
    font-family: 'Audiowide';
}
