
.App {
    width: 50vw;
    font-family: 'Audiowide', sans-serif;
    padding: 30px 30px;
    color: #DDD;
}

h1 {
    font-size: 30px; 
    font-size: 5vw;
    margin: 0;
    padding: 0;
}

.controls {
    position: relative;
    padding: 30px;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr;
    background-color: rgba(0,0,0,0.2);
    border-radius: 15px;
    z-index: 99;
}

.titleControls {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0;
    align-items: center;
}

.yt1210Controls {
    justify-self: flex-end;
    text-align: right;
    list-style: none;
}

.yt1210Controls li {
    float: left;
    margin-right: 15px;
}

.yt1210Controls label {
    display: block;
    margin-bottom: 8px;
}

