
.App {
    font-family: 'Audiowide', sans-serif;
    padding: 30px 50px;
    overflow: hidden;
    color: #DDD;
}

h1 {
    font-size: 40px; 
    font-size: 10vw;
    margin: 0;
    padding: 0;
    text-align: center;
}

.controls {
    width: 40vw;
    display: grid;
    grid-template-columns: 1fr;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
}
    
.video {
    display: block;
    clear: both;
}

.button {
    float: left;
    width: 80px;
    height: 80px;
    padding: 20px;
    margin: 10px;
    background-color: #000;
    border: 2px solid #ddd;
    border-radius: 8px;
}

.button:hover {
    background-color: #444;
    cursor: pointer;
}