@import url('https://fonts.googleapis.com/css?family=Audiowide|Muli|Noto+Sans');

html {
    background-color: #444;
    background: url('https://source.unsplash.com/collection/1134634') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    overflow-x: hidden;    
}
