body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: hidden;
  width: 100vw;
}
.record {
    position: absolute;
    top: 100px;
    right: -30%;
}
.spinning {
    animation: spin 0.833s infinite linear;
}

@keyframes spin {
    from { transform:rotate(0deg); }
    to { transform:rotate(360deg); }
}