
.PlaylistWrapper {
    grid-column: 1 / 2;
}

.Playlist {
    font-family: 'Architects Daughter';
    font-size: 17px;
    user-select: none;
    border: 1px solid #ddd;
    background-color: rgba(40,40,40,0.8);
    min-height: 30vh;
    max-height: 50vh;
    overflow-y: scroll;
    margin-bottom: 15px;
}

.track {
    cursor: pointer;
    color: #666;
    background-color: #eee;
    border-bottom: 1px dotted #B0B0FB;
    padding:  3px 13px 2px;
}

.track:nth-of-type(1) {
    padding-top: 10px;
}

.track > span {
    float: right;
}

.track:hover {
    color: #3E3EAF;
}

.found {
    color: #7E7E7E;
}

.playing {
    color: #3EAF3E;
}

.NewTrack {
    padding: 15px;
    border: 1px solid #ddd;
    background-color: rgba(40,40,40,0.8);
}

.NewTrack input, .NewTrack button {
    margin-left: 15px;
    font-family: 'Audiowide';
}
