
.PlaylistWrapper {
    grid-column: 1 / 2;
}

.Playlist {
    font-family: 'Metrophobic';
    font-size: 12px;
    user-select: none;
    padding: 15px;
    border: 1px solid #ddd;
    background-color: rgba(40,40,40,0.8);
    min-height: 30vh;
    max-height: 50vh;
    overflow-y: scroll;
    margin-bottom: 15px;
}

.track {
    cursor: pointer;
    color: #666;
}

.track > span {
    float: right;
}

.track:hover {
    color: #fff;
}

.found {
    color: #aaa;
}

.playing {
    color: #0f0;
}

.NewTrack {
    padding: 15px;
    border: 1px solid #ddd;
    background-color: rgba(40,40,40,0.8);
}

.NewTrack input, .NewTrack button {
    margin-left: 15px;
    font-family: 'Audiowide';
}
